{% extends "base.html" %}
{% block navbar %}
    <a class="nav-link" href="#container-GDP-G1" style="color: white; padding: 0.5rem 0.5rem 0.5rem 0.2rem;" onmouseover="this.style.backgroundColor='#343a40'" onMouseOut="this.style.backgroundColor='#6c757d'">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
        </svg> GDP-G1
    </a>
    <a class="nav-link" href="#container-GDP-G2" style="color: white; padding: 0.5rem 0.5rem 0.5rem 0.2rem;" onmouseover="this.style.backgroundColor='#343a40'" onMouseOut="this.style.backgroundColor='#6c757d'">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
        </svg> GDP-G2
    </a>
    <a class="nav-link" href="#container-GDP-G3" style="color: white; padding: 0.5rem 0.5rem 0.5rem 0.2rem;" onmouseover="this.style.backgroundColor='#343a40'" onMouseOut="this.style.backgroundColor='#6c757d'">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
        </svg> GDP-G3
    </a>
{% endblock navbar %}

<!-- main content  -->
{% block maincontent %}
    <div id="container-GDP-G1" class="pingaware-main-content">
        <div class="pingaware-subnet-container">
            <h1>GDP-G1</h1>
            <table id="GDP-G1" class="table">
                <thead class="table-primary font-weight-bold">
                    <td>Host</td>
                    <td>Status</td>
                </thead>
                <tbody id="GDP-G1-body"></tbody>
            </table>
        </div>

        <div id="container-GDP-G2" class="pingaware-subnet-container">
            <h1>GDP-G2</h1>
            <table id="GDP-G2" class="table">
                <thead class="table-primary font-weight-bold">
                    <td>Host</td>
                    <td>Status</td>
                </thead>
                <tbody id="GDP-G2-body"></tbody>
            </table>
        </div>

        <div id="container-GDP-G3" class="pingaware-subnet-container">
            <h1>GDP-G3</h1>
            <table id="GDP-G3" class="table">
                <thead class="table-primary font-weight-bold">
                    <td>Host</td>
                    <td>Status</td>
                </thead>
                <tbody id="GDP-G3-body"></tbody>
            </table>
        </div>
{% endblock maincontent%}